@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400&family=Noto+Serif&display=swap');

:root {
  --main-bg-color: #FFF4F0;
  --main-text-color: #3C1518;
  --color-orange: #FF7F11;
  --color-pink: #F76C5E;
  --color-light-pink: #F7A399;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Serif', serif;
  line-height: 1.4;
  color: var(--main-text-color);
  background: var(--main-bg-color);
  height: 100vh;
  font-weight: 400;
}

.wrapper {
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80%;
  max-width: 580px;
  margin: 5rem auto;
  border-radius: 50px;
  box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
}

.todos {
  border-radius: 50px;
  backdrop-filter: blur(85px);
  padding: 25px 40px;
  margin: 0 auto;
  min-height: 415px;
}

.form-container {
  display: flex;
  border-radius: 15px;
  padding: 7px 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  justify-content: space-around;
  background: rgba(247, 108, 94, 0.75);
  font-size: 1.5rem;
  align-items: flex-end;
}

.input-text {
  background-color: transparent;
  width: 85%;
  padding: 10px 15px;
  border-radius: calc(0.5 * 100px);
  font-size: 1rem;
}

.input-text::placeholder {
  color: var(--main-bg-text);
}

.input-submit {
  background: transparent;
  height: 100%;
  color: var(--main-bg-color);
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  outline: none;
  border: none;
}

.submit-warning {
  font-size: 13px;
  color: rgb(192, 0, 0);
  margin-top: 5px;
  margin-left: 20px;
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

/* Active route */
.active {
  color: #FF6392;
}

ul{
  margin-top: 1.3rem;
}

/*==========================
About route 
========================*/

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.about_list {
  list-style: none;
}

.about_list a {
  padding: 20px 0;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
.about_list a:hover {
  color: #DD5E03;
}
.main_content {
  max-width: 650px;
}

.main_content h2 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 26px;
}

.main_content p {
  line-height: 25px;
}



/*==========================
Sidebar navigation
========================*/

.navbar {
  position: relative;
}

button {
  cursor: pointer;
  background: transparent;;
  border: none;
  font-size: 20px;
  color: #DD5E03;
}

.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 40px;
  cursor: pointer;
  background: transparent;;
  border: none;
}

.menu-nav {
  list-style: none;
  position: absolute;
  background: #FFD5C2;
  border-radius: 5px;
  left: 0;
  top: -50px;
  width: 0;
  overflow: hidden;
  max-width: 210px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);

  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* transition: width ease 0.2s; */
}

.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}

.menu-nav li a, .menu-nav li span {
  display: block;
  padding: 1rem;
}

.log-in {
  color: #523200;
  border-top: 1px solid #FF6392;
  margin-top: 15px;
  font-size: 15px;
}

/* logout */
.logout {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  gap: 2rem;
  font-size: 20px;
  color: #8a4baf;
}


/* Media Queries */
@media screen and (min-width: 480px) {
  div.wrapper h1 {
    font-size: 4rem;
  }

  .about {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr);
  }
}
@media screen and (max-width: 680px) {
  .todos {
    padding: 35px 20px;
  }
}